.hidden{display: none;}

body{
  font-family: 'Nanum Gothic', sans-serif;
  color: #333;
  font-weight: 400
  ;line-height: 1.4;
}

header{
  width: 100%;
  background: #f6f6f6;
  border-bottom: 1px solid #c3c3c3;
  position: fixed;
  top: 0;
  z-index: 10;
}

.inner{
  width: 1200px;
  height: 120px;
  margin: auto;
  position: relative;
}

.head-inner{
  width: 1200px;
  height: 120px;
  display: flex;
  background: cornflowerblue;
}
.head-inner h1 a img{
  width: 80px;
  height: 80px;
  margin: 20px 0 0 30px;
}

.head-inner .head-right{
  width: 100%;
  position: relative;
}
.head-inner .head-right .sub-menu{
  position: absolute;
  display: flex;
  right: 0;
  top: 10px;
}
.head-inner .head-right .sub-menu .menu{
  display: flex;
}
.head-inner .head-right .sub-menu .menu li{
  margin-top: 8px;
  padding: 0 10px;
}
.head-inner .head-right .sub-menu .menu li a{
  font-size: 14px;
}

.search{height: 35px;position: relative;transition: all 0.4s;}
.search input{height: 28px;width: 30px;border-radius: 5px;border: 1px solid #ccc;background: #fff;text-indent: 5px;}
.search input:focus{width: 150px; border: 2px solid #669900;outline: none;}


header .head-inner .head-right nav{}
header .head-inner .head-right nav .gnb{
  width: 1200px;
  height: 250px;
  background: crimson;
  position: absolute;
  top: 90px;
  left: -100px;
  display: flex;
}
header .head-inner .head-right nav .gnb .item{}
header .head-inner .head-right nav .gnb .item .item__name{
  color: #fff;
}
header .head-inner .head-right nav .gnb .item .item__menu{
  display: flex;}
header .head-inner .head-right nav .gnb .item .item__menu .sub{}
header .head-inner .head-right nav .gnb .item .item__menu .sub h4{}
header .head-inner .head-right nav .gnb .item .item__menu .sub h4 a{}
header .head-inner .head-right nav .gnb .item .item__menu .sub li{}
header .head-inner .head-right nav .gnb .item .item__menu .sub li a{}